*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

/bin/
/build/
/out/
/target/
dist/
nbbuild/
nbdist/

*.iml
.idea/

.classpath
.project
.settings/

nbproject/private/
.nb-gradle/

.vscode/

*.log
hs_err_pid*
replay_pid*

*.tmp
*.swp
*.bak
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db
desktop.ini

.env
.env.local
.env.*.local
config.properties

src/data/*
!src/data/.gitkeep

*repomix-output.xml